* {
    padding: 0px;
    margin: 0px;
}

body { 
    height: 100vh;
    background-color: #ffffff;
    background: url(https://imgs.search.brave.com/VQBUsELXWtjmH4JsND8Dzjphe35no81XA_DjQ6XN1M0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDYxMDA3/NDQuanBn) no-repeat center center/ cover;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

#home-btn {
    position: absolute;
    display: inline-block;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    top: 1%;
    left: 1%;
}

#home-btn:hover {
    transition-duration: 0.5s;
    background-color: rgb(255, 196, 196, 0.2);
    border-radius: 10%;
}
#container {
    background-color: rgb(255, 196, 196, 0.6);
    width: 50%;
    padding: 1rem;
    text-align: center;
    border-radius: 40px;
    min-width: 300px;   
}

h2 {
    padding: 5px;
    color: black;
}

#quote-text {
    font-size: 3rem;
}

#author-name {
    font-size: 2.5rem;
    
}

/* ----------------- BUTTONS -----------------  */

.buttons {
    min-width: 10rem;
    border-radius: 1rem;
    padding: 1rem;
}

.buttons:hover {
    opacity: 1;
}

#new-quote-btn {
    background-color: rgba(83, 225, 8, 0.6);
}

#new-quote-btn:hover {
    background-color: rgba(83, 225, 8, 1);
}

#previous-quote-btn {
    background-color: rgba(220, 10, 8, 0.6);
}

#previous-quote-btn:hover {
    background-color: rgba(220, 10, 8, 1);
}

/* -------------------------------------------------------------------- */

#quote-counter {
    text-align: right;
    font-size: 1.5rem;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media only screen and (max-width: 500px) {
    .buttons {
    }
}
